language: python

dist: focal

cache: pip

notifications:
  email: true

matrix:
  include:
    - python: 3.8
    - python: 3.9
    - python: 3.10

install:
- sudo apt-get update
- sudo apt-get install pandoc
- pip install pypandoc
- echo -e "machine github.ibm.com\n  login $GITHUB_ACCESS_TOKEN" > ~/.netrc
- pip install setuptools=="60.8.2"

script:
- make ci

# To enable semantic-release, uncomment these sections.
before_deploy:
- nvm install 14.17
- npm install
- pip install bump2version

deploy:
- provider: script
  script: npm run semantic-release
  skip_cleanup: true
  on:
    python: '3.8'
    branch: main
- provider: pypi
  user: __token__
  password: $PYPI_TOKEN
  repository: https://upload.pypi.org/legacy
  skip_cleanup: true
  on:
    python: '3.8'
    tags: true
